source/202305-divvy-tripdata.csv
source/202306-divvy-tripdata.csv
source/202307-divvy-tripdata.csv
source/202308-divvy-tripdata.csv
source/202309-divvy-tripdata.csv
source/202310-divvy-tripdata.csv
source/202311-divvy-tripdata.csv
source/202312-divvy-tripdata.csv
source/202401-divvy-tripdata.csv
source/202402-divvy-tripdata.csv
source/202403-divvy-tripdata.csv
source/202404-divvy-tripdata.csv
database/database.db
database/databasecsv.csv
